*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
    font-size: 12px;
}
body{
    background-image: url(image/iphone.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: grey;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.active,.menu-bar ul li:hover
{
    background-color: lightgrey;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background-color: darkgray;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color: black;
    
}
.fa-angle-right{
    
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    display: block;
    position: absolute;
    background-color: darkgray;
    margin-top: px;
    margin-left: 140px;
}
